<div class="row "  >
      <div class="col-md-12">
      	<div class="panel panel-default ">
            <div class="panel-heading">
                <i class="fa fa-th-list fa-fw"></i> Recently Added Student
            </div>
            
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive"> 
                 <table ng-repeat="(key, student) in studentsList" bs-table-control="student.bsTableControl" class="table table-no-bordered">
                  <thead>
                    <tr>
                      <th data-field="stu_first_name" data-sortable="true" >Course Name</th>
                      <th data-field="stu_email_id" data-sortable="true" >Course Name</th>
                      <th data-field="stu_mobile_no" data-sortable="true" >Course Name</th>
                      <th data-field="stu_admission_date" data-sortable="true" >Course Name</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                  </tbody>
                </table>
                </div>
            </div>
    
            <!-- /.panel-body -->
        </div>
      </div>

      
</div>
