@font-face {
  font-family: ArialRoundedMTBold;
  src: url("../fonts/ArialRoundedMTBoldBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/ArialRoundedMTBoldBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRoundedMTBoldBold.woff2") format("woff2"), url("../fonts/ArialRoundedMTBoldBold.woff") format("woff"), url("../fonts/ArialRoundedMTBoldBold.ttf") format("truetype"), url("../fonts/ArialRoundedMTBoldBold.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

.navbar-default {
  border-color: #11a467; }

.navbar-static-top {
  background-color: #26c281;
  border-radius: 0; }

.navbar-default .navbar-brand {
  color: #fff; }
  .navbar-default .navbar-brand:hover {
    color: #fff; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
