<div class="row "  >
      <div class="col-md-12">
      	<div class="panel panel-default ">
            <div class="panel-heading">
                <i class="fa fa-th-list fa-fw"></i> Listed batch
            </div>            
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive"> 
                 <table ng-repeat="(key, pay) in batchList" bs-table-control="pay.bsTableControl" class="table table-no-bordered">               
                  <tbody>
                    <tr></tr>
                  </tbody>
                </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
      </div>
</div>